@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #fff;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.lists {
    margin-top: -140px;
}

hr {
    height: 5px;
    background-color: #9999;
    border: none;
}

footer {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #999;
}

footer a {
    text-decoration: none;
    color: #9999;
}

footer a:hover {
    text-decoration: underline;
}
